<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>宠物商店管理系统前端模板</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        左上角那个蓝紫色-start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a href="main_template.html">
                <h4 class="card-title">宠物商店管理系统</h4>
                <!-- <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                    <img src="images/logo-text.png" alt="">
                </span> -->
            </a>
        </div>
    </div>
    <!--**********************************
        左上角那个蓝紫色-end
    ***********************************-->

    <!--**********************************
        蓝紫色的右边那一坨-start
    ***********************************-->
    <div class="header">
        <div class="header-content clearfix">

            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons dropdown">
                        <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                            <span class="activity active"></span>
                            <img src="../static/images/1.png" height="40" width="40" alt="">
                        </div>
                        <div class="drop-down dropdown-profile   dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a href="profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="email.html"><i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                    </li>

                                    <hr class="my-2">
                                    <li>
                                        <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                    </li>
                                    <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--**********************************
        蓝紫色的右边那一坨-end
    ***********************************-->

    <!--**********************************
        左边侧目录-start
    ***********************************-->
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">商品管理模块</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="category.html">Category</a></li>
                        <li><a href="item.html">Item</a></li>
                        <li><a href="product.html">Product</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-screen-tablet menu-icon"></i> <span class="nav-text">用户管理模块</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-notebook menu-icon"></i><span class="nav-text">订单管理模块</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="no_payment.html">未支付订单</a></li>
                        <li><a href="wait_payment.html">待处理订单</a></li>
                        <li><a href="dealed_payment.html">已处理订单</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-bubble"></i> <span class="nav-text">评论管理模块</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="/reviewtable">评论信息表</a></li>
                        <li><a href="/reviewstatistic">评论统计</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--**********************************
        左边侧目录-end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">评论信息表</h4>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                    <tr>
                                        <th>用户名</th>
                                        <th>商品ID</th>
                                        <th>评分</th>
                                        <th>评论</th>
                                        <th>评论时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="Review : ${reviewList}">
                                        <td th:text="${Review.username}">j2ee</td>
                                        <td th:text="${Review.itemid}">EST-19</td>
                                        <td th:with="grade=${Review.grade}">
                                            <p th:text="${Review.grade}" style="display: none"></p>
                                            <span th:each="i:${#numbers.sequence(1,grade)}">
                                                <i class="fa fa-star"></i></span>
                                            <span th:if="${grade != 5}" th:each="i:${#numbers.sequence((grade + 1),5)}">
                                                <i class="fa fa-star-o"> </i></span>
                                        </td>
                                        <td th:text="${Review.review}" style="word-wrap: break-word;word-break: break-all">good</td>
                                        <td th:text="${Review.time}">2023/03/22 23:12:22</td>
                                        <td><div class="outline-button">
                                            <button th:if="${Review.top}" type="button" class="btn mb-1 btn-primary">已置顶</button>
                                            <button th:if="${!Review.top}" type="button" class="btn mb-1 btn-outline-primary">置顶</button>
                                            <button type="button" class="btn mb-1 btn-outline-danger" th:id="${Review.id}">删除</button>
                                            <p th:text="${Review.id} "style="display: none"></p>
                                        </div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="./js/custom.min.js"></script>

    <script src="./js/review/review.js"></script>

    <script src="./js/settings.js"></script>
    <script src="./js/gleek.js"></script>
    <script src="./js/styleSwitcher.js"></script>
    <script src="./plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="./plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="./plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

</body>

</html>